:root {
  --bg-color: #111315;
  --bg-muted-color: #bdbdbd;
  --bg-side-color: #191D1F;
  --headline-color: #fffffe;
  --txt-color: #ececec;
  --txt-muted-color: #b8c1ec;
  --btn-color: #2985FF;
  --btn-txt-color: #F5FCFC;
  --border-color: #2985FF;
  --color-bg-light: #F4F4F4;
  --color-bg-muted-light: #ddd;
  --color-bg-side-light: #FCFCFC;
  --color-headline-light: #094067;
  --color-btn-txt-light: #5f6c7b;
  --color-btn-txt-muted-light: #474747;
  --color-btn-light: #3da9fc;
  --color-btn-txt-light: #fffffe;
  --color-border-light: #094067;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Merubah tampilan scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  border-radius: 5px;
}

@font-face {
  font-family: "Helvetica";
  src: url(../../../utilities/fonts/HelveticaNeue/helveticaneue.woff) format("woof");
  src: url(../../../utilities/fonts/HelveticaNeue/helveticaneue.woff2) format("woof2");
}
@font-face {
  font-family: "fontawesome";
  src: url(../../../utilities/Icons/fontawesome-free-6.3.0-web/css/all.css);
}
body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
body .d-none {
  display: none;
}
body .border-td-border td {
  border: 1px solid var(--bg-color);
}
body .border-no-space {
  border-spacing: 0;
}
body .border-striped tr:nth-child(odd) {
  background-color: var(--bg-color);
}
body .border-striped tr:nth-child(even):hover {
  background-color: var(--bg-color);
}
body .text-center {
  text-align: center;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body a {
  color: var(--headline-color);
}
body p {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
}
body ul,
body ol {
  list-style: none;
}
body button {
  border-radius: 5px;
  min-width: 35px;
  background-color: var(--btn-color);
  transition: filter 0.2s ease-out;
  border: none;
  overflow: hidden;
}
body button:hover {
  cursor: pointer;
  filter: brightness(0.8);
  /* ubah kecerahan elemen menjadi 80% saat di-hover */
}
body .btn-success {
  background-color: #29ff89;
}
body.light-mode {
  --bg-color: var(--color-bg-light);
  --bg-muted-color: var(--color-bg-muted-light);
  --bg-side-color: var(--color-bg-side-light);
  --headline-color: var(--color-headline-light);
  --txt-color: var(--color-txt-light);
  --txt-muted-color: var(--color-btn-txt-muted-light);
  --btn-color: var(--color-btn-light);
  --btn-txt-color: var(--color-btn-txt-light);
  --border-color: var(--color-border-light);
}

nav {
  background-color: var(--bg-side-color);
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  padding: 0px 25px;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  box-shadow: 0px 2px 28px -15px #000000;
}
nav .menu {
  display: flex;
  align-items: center;
}
nav .menu .menu-button-lg {
  align-items: center;
  margin-right: 20px;
  padding-top: 3px;
}
nav .menu .menu-button-sm {
  display: none;
}
nav .menu .menu-button-sm .cross .btn-menu-check {
  display: none;
  margin-right: 20px;
}
nav .menu .menu-button-sm .cross label {
  display: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: block;
  z-index: -9999;
}
nav .menu .menu-button-sm .cross path {
  fill: none;
  stroke: var(--headline-color);
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
nav .menu .menu-button-sm .cross input:checked + svg .line--1, nav .menu .menu-button-sm .cross input:checked + svg .line--3 {
  --length: 22.627416998;
}
nav .menu .menu-button-sm .cross input:checked + svg .line--2 {
  --length: 0;
}
nav .menu .menu-button-sm .cross .back input:checked + svg .line--1,
nav .menu .menu-button-sm .cross .back input:checked + svg .line--3 {
  --length: 8.602325267;
}
nav .menu .menu-button-sm .cross .line--1,
nav .menu .menu-button-sm .cross .line--3 {
  --total-length: 126.64183044433594;
}
nav .menu .menu-button-sm .cross .line--2 {
  --total-length: 70;
}
nav .menu .menu-button-sm .cross input:checked + svg .line--1,
nav .menu .menu-button-sm .cross input:checked + svg .line--3 {
  --offset: -94.1149185097;
}
nav .menu .menu-button-sm .cross input:checked + svg .line--2 {
  --offset: -50;
}
nav .brand a {
  display: flex;
  align-items: center;
}
nav .brand a i {
  font-size: 1.3rem;
  margin: 0 10px;
}
nav .dropdown {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  height: 100%;
  align-items: center;
}
nav .dropdown:hover .user {
  filter: brightness(0.8);
}
nav .dropdown:hover .dropdown-content {
  display: block;
}
nav .dropdown .dropdown-content {
  width: 100%;
  top: 55px;
  display: none;
  position: absolute;
  background-color: var(--bg-side-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  border: 0px 1px 1px 1px solid var(--border-color);
}
nav .dropdown .dropdown-content a {
  padding: 5px 20px;
  display: flex;
  font-size: 12px;
  align-items: center;
}
nav .dropdown .dropdown-content a:hover {
  background-color: var(--bg-color);
  filter: brightness(0.8);
}
nav .dropdown .dropdown-content a span {
  margin: 0 10px;
}
nav .dropdown .user {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--headline-color);
}
nav .dropdown .user .user__img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
nav .dropdown .user .user__name {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 10px;
}

@media screen and (max-width: 1199px) {
  nav {
    box-shadow: none;
  }
  nav .menu .menu-button-lg {
    display: none;
  }
  nav .menu .menu-button-sm {
    display: block;
  }
}
.breadcrumb ol {
  display: flex;
}
.breadcrumb ol li {
  margin: 0 5px;
}

.card {
  width: 100%;
  padding: 40px;
  margin: 20px 0;
  background-color: var(--bg-side-color);
  border-radius: 10px;
  transition: all 0.3s ease-out;
}
.card:hover {
  transition: all 0.3s ease-out;
  box-shadow: 0 0 10px 0 rgba(66, 66, 66, 0.2);
}

table {
  width: 100%;
  color: var(--text-color);
  overflow: auto;
  border-radius: 5px;
  min-width: 1100px;
}
table thead tr th {
  border-bottom: 1px solid var(--border-color);
  border-collapse: collapse;
  font-weight: bold;
  padding: 10px 0;
}
table tbody tr td {
  padding: 10px 0;
  color: var(--headline-color);
}

.sidebar {
  display: flex;
  margin-top: 55px;
}
.sidebar.sidebar--show .sidebar__sidebar {
  transform: translateX(0);
}
.sidebar.sidebar--show .sidebar__main {
  margin-left: 300px;
}
.sidebar .sidebar__sidebar {
  background-color: var(--bg-side-color);
  display: flex;
  position: fixed;
  width: 300px;
  height: 100vh;
  padding-top: 15px;
  padding-right: 8px;
  margin-right: -8px;
  /* Negatif dari lebar scrollbar */
  text-align: center;
  transition: all 0.3s ease-out;
  transform: translateX(-100%);
  overflow: hidden;
  z-index: 99;
}
.sidebar .sidebar__sidebar:hover {
  overflow: auto;
  overflow-x: hidden;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-top {
  padding-top: 15px;
  width: 300px;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-top .semester {
  color: var(--txt-muted-color);
  height: 35px;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-top .dark-light-button .theme-toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 50px;
  height: 30px;
  margin: 10px;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-top .dark-light-button .theme-toggle .theme-toggle__input {
  display: none;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-top .dark-light-button .theme-toggle .theme-toggle__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  border-radius: 30px;
  transition: background-color 0.4s ease;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-top .dark-light-button .theme-toggle .theme-toggle__slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s ease;
  transform: translateX(20px);
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-top .dark-light-button .theme-toggle .theme-toggle__input:checked + .theme-toggle__slider {
  background-color: #ccc;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-top .dark-light-button .theme-toggle .theme-toggle__input:checked + .theme-toggle__slider:before {
  transform: translateX(0);
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom {
  text-align: left;
  width: 300px;
  padding-bottom: 200px;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item {
  margin: 10px 0;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item a {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 30px;
  font-size: 12px;
  padding: 0 20px;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item a span {
  margin-left: 10px;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item a:hover {
  background-color: var(--bg-color);
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item a.active {
  background-color: var(--bg-color);
  margin-left: 10px;
  font-weight: bold;
  border-left: 5px solid var(--border-color);
  border-radius: 5px;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item.accordion-item.active {
  background-color: var(--bg-color);
  margin-left: 10px;
  font-weight: bold;
  border-left: 5px solid var(--border-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item.accordion-item .accordion-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 30px;
  font-size: 12px;
  padding: 0 20px;
  color: var(--headline-color);
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item.accordion-item .accordion-header:hover {
  background-color: var(--bg-color);
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item.accordion-item .accordion-header span {
  margin-left: 10px;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item.accordion-item .accordion-header .fa-chevron-right,
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item.accordion-item .accordion-header .fa-chevron-down {
  margin-left: auto;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item.accordion-item .accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.6s ease;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item.accordion-item .accordion-content li {
  display: flex;
  margin-left: 25px;
  text-align: left;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item.accordion-item .accordion-content li.active a {
  color: var(--btn-color);
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item.accordion-item .accordion-content li a {
  margin: 0;
  justify-content: start;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item.accordion-item .accordion-content li a i {
  margin-right: 10px;
}
.sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item.accordion-item .accordion-content li a:hover {
  background-color: var(--bg-side-color);
  color: var(--btn-color);
}
.sidebar .sidebar__main {
  width: 100%;
  padding: 35px 50px;
  transition: all 0.3s ease-out;
  overflow: hidden;
  overflow-x: hidden;
}
.sidebar .sidebar__main:hover {
  overflow: auto;
  overflow-x: hidden;
}
.sidebar .sidebar__main .main-header {
  width: 100%;
  display: flex;
  margin: 10px 0px;
  padding-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-color);
}
.sidebar .sidebar__main .main-header p span {
  background-color: var(--btn-color);
  color: var(--btn-txt-color);
  padding: 5px;
  border-radius: 15px;
}
.sidebar .sidebar__main .jumbotron .card .card-header {
  margin-bottom: 20px;
}
.sidebar .sidebar__main .jumbotron .card .card-body {
  overflow-x: auto;
}
.sidebar .sidebar__main .jumbotron .card .card-body table {
  text-align: left;
  min-width: 900px;
}
.sidebar .sidebar__main .jumbotron .card .card-body table thead tr th:nth-child(1), .sidebar .sidebar__main .jumbotron .card .card-body table thead tr th:nth-child(5) {
  text-align: center;
}
.sidebar .sidebar__main .jumbotron .card .card-body table tbody tr td:nth-child(1), .sidebar .sidebar__main .jumbotron .card .card-body table tbody tr td:nth-child(5) {
  text-align: center;
}
.sidebar .sidebar__main .content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
}
.sidebar .sidebar__main .content .card.card-feature {
  flex: 1;
  margin: 30px 10px;
}
.sidebar .sidebar__main .content .card.card-feature:nth-child(1) {
  background-color: #28AB08;
}
.sidebar .sidebar__main .content .card.card-feature:nth-child(2) {
  background-color: #F16D0D;
}
.sidebar .sidebar__main .content .card.card-feature:nth-child(3) {
  background-color: #01786D;
}
.sidebar .sidebar__main .content .card.card-feature:hover .card-item .card-icon {
  margin-bottom: 100px;
}
.sidebar .sidebar__main .content .card.card-feature .card-item {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.sidebar .sidebar__main .content .card.card-feature .card-item h3 {
  margin-top: 20px;
  color: black;
}
.sidebar .sidebar__main .content .card.card-feature .card-item .card-icon {
  position: absolute;
  margin-bottom: 120px;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--btn-color);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 3px solid var(--bg-color);
}
.sidebar .sidebar__main .content .card.card-feature .card-item .card-icon i {
  font-size: 40px;
}
.sidebar .sidebar__main .content .card.card-feature .card-item .card-icon img {
  width: 40px;
}

.sidebar__main.krs .jumbotron .jumbotron-header {
  display: flex;
  align-items: center;
}
.sidebar__main.krs .jumbotron .jumbotron-header .select-wrapper {
  position: relative;
  display: inline-block;
  z-index: 1;
  margin: 10px;
}
.sidebar__main.krs .jumbotron .jumbotron-header .select-wrapper::after {
  content: "\f077";
  /* kode ikon chevron-up */
  font-family: "fontawesome";
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%) rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.sidebar__main.krs .jumbotron .jumbotron-header .select-wrapper .select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 200px;
  height: 40px;
  background-color: var(--bg-color);
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  color: var(--headline-color);
  border-radius: 5px;
}
.sidebar__main.krs .jumbotron .jumbotron-header .select-wrapper .select:focus {
  outline: none;
  border-color: #2985FF;
}
.sidebar__main.krs .jumbotron .jumbotron-header .select-wrapper .select:hover {
  cursor: pointer;
  background-color: var(--bg-color);
}
.sidebar__main.krs .jumbotron .jumbotron-header .select-wrapper .select option {
  font-weight: normal;
  font-size: 14px;
  color: var(--headline-color);
}
.sidebar__main.krs .jumbotron .jumbotron-header .select-wrapper .select option:checked {
  background-color: var(--btn-color);
  color: var(--text-color);
}
.sidebar__main.krs .jumbotron .jumbotron-header .btn {
  margin-left: 20px;
  width: 100px;
  height: 30px;
}
.sidebar__main.krs .jumbotron .jumbotron-main {
  transition: all 0.3s ease-out;
}
.sidebar__main.krs .jumbotron .jumbotron-main .card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgb(88, 88, 88);
  padding: 20px;
  margin-bottom: 20px;
  overflow-x: auto;
}
.sidebar__main.krs .jumbotron .jumbotron-main .card .card-item {
  flex-basis: calc(50% - 20px);
  margin-bottom: 20px;
  transition: all 0.3s ease-out;
}
.sidebar__main.krs .jumbotron .jumbotron-main .card .card-item h3 {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 16px;
}
.sidebar__main.krs .jumbotron .jumbotron-main .card .card-item input[type=text] {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #555;
  background-color: #f2f2f2;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}
.sidebar__main.krs .jumbotron .jumbotron-main .card .card-item input[type=text]:focus, .sidebar__main.krs .jumbotron .jumbotron-main .card .card-item input[type=text]:active {
  outline: none;
  border-color: #2b94b8;
}
.sidebar__main.krs .jumbotron .jumbotron-main .card .card-item input[disabled] {
  background-color: var(--bg-muted-color);
  cursor: not-allowed;
}
.sidebar__main.krs .jumbotron .jumbotron-main .card .card-item input::-moz-placeholder {
  color: var(--text-muted-color);
}
.sidebar__main.krs .jumbotron .jumbotron-main .card .card-item input::placeholder {
  color: var(--text-muted-color);
}
.sidebar__main.krs .jumbotron .jumbotron-main .card p {
  margin: 10px 0;
}
.sidebar__main.krs .jumbotron .jumbotron-main .card .krs-table {
  border: 1px solid var(--border-color);
  min-width: 1100px;
}
.sidebar__main.krs .jumbotron .jumbotron-main .card .krs-table thead {
  text-align: center;
}
.sidebar__main.krs .jumbotron .jumbotron-main .card .krs-table thead tr th {
  border-bottom: 2px solid var(--border-color);
  padding: 10px;
}
.sidebar__main.krs .jumbotron .jumbotron-main .card .krs-table tbody tr td {
  padding: 15px;
  text-align: left;
  border: 1px solid var(--bg-color);
}
.sidebar__main.krs .jumbotron .jumbotron-main .card .krs-table tbody tr td:nth-child(1), .sidebar__main.krs .jumbotron .jumbotron-main .card .krs-table tbody tr td:nth-child(2), .sidebar__main.krs .jumbotron .jumbotron-main .card .krs-table tbody tr td:nth-child(5), .sidebar__main.krs .jumbotron .jumbotron-main .card .krs-table tbody tr td:nth-child(6), .sidebar__main.krs .jumbotron .jumbotron-main .card .krs-table tbody tr td:nth-child(7), .sidebar__main.krs .jumbotron .jumbotron-main .card .krs-table tbody tr td:nth-child(8) {
  text-align: center;
}

/* Layar besar (lebar minimum 1200px) */
@media screen and (min-width: 1200px) {
  /* style untuk layar besar di sini */
}
/* Layar sedang (lebar maximum 1199px) */
@media screen and (max-width: 1199px) {
  /* style untuk layar sedang di sini */
  nav .menu h4 {
    display: none;
  }
  nav .dropdown .user span {
    display: none;
  }
  nav .dropdown .dropdown-content {
    right: 0;
    width: 150px;
  }
  .sidebar .sidebar__sidebar {
    transform: translateX(0);
  }
  .sidebar .sidebar__main {
    margin-left: 300px;
  }
  .sidebar .sidebar__main.krs .jumbotron .jumbotron-header {
    display: block !important;
    width: 100%;
    margin: 20px 0;
  }
  .sidebar .sidebar__main.krs .jumbotron .jumbotron-header .btn {
    margin-top: 20px;
    height: 40px;
    width: 50%;
  }
  .sidebar.sidebar--show .sidebar__sidebar {
    transform: translateX(-100%);
  }
  .sidebar.sidebar--show .sidebar__sidebar:hover {
    overflow-y: auto;
  }
  .sidebar.sidebar--show .sidebar__main {
    margin-left: 0;
  }
}
/* Layar kecil (lebar maksimum 767px) */
@media screen and (max-width: 767px) {
  /* style untuk layar kecil di sini */
  .sidebar .sidebar__sidebar {
    width: 100vw;
  }
  .sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-top {
    width: 100vw;
  }
  .sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom {
    width: 100vw;
  }
  .sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item a.active {
    margin-left: 0;
  }
  .sidebar .sidebar__sidebar .sidebar-content .sidebar-nav-bottom .sidebar-item.accordion-item.active {
    margin-left: 0;
  }
  .sidebar .sidebar__main {
    padding: 5px;
    text-align: center;
    margin: 20px 0;
  }
  .sidebar .sidebar__main .main-header {
    display: block;
  }
  .sidebar .sidebar__main .main-header p {
    margin-bottom: 15px;
  }
  .sidebar .sidebar__main .main-header .breadcrumb {
    margin-bottom: 15px;
  }
  .sidebar .sidebar__main .main-header .breadcrumb ol {
    justify-content: center;
  }
  .sidebar .sidebar__main .jumbotron .card {
    padding: 10px;
  }
  .sidebar .sidebar__main.krs .jumbotron {
    padding: 10px;
  }
  .sidebar .sidebar__main.krs .jumbotron .jumbotron-header .btn {
    margin-left: 0px;
  }
  .sidebar .sidebar__main.krs .jumbotron .jumbotron-main .card {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
  }
  .sidebar .sidebar__main.krs .jumbotron .jumbotron-main .card .card-item h3 {
    text-align: start;
    margin: 5px;
    font-weight: 600;
    font-size: 14px;
  }
  .sidebar .sidebar__main.krs .jumbotron .jumbotron-main .card p {
    font-size: 14px;
    text-align: start;
  }
}/*# sourceMappingURL=style.css.map */