:root {
   // dark-mode
   --bg-color: #111315;
   --bg-muted-color: #bdbdbd;
   --bg-side-color: #191D1F;
   --headline-color: #fffffe;
   --txt-color: #ececec;
   --txt-muted-color: #b8c1ec;
   --btn-color: #2985FF;
   --btn-txt-color: #F5FCFC;
   --border-color: #2985FF;
   // Light-mode
   --color-bg-light: #F4F4F4;
   --color-bg-muted-light: #ddd;
   --color-bg-side-light: #FCFCFC;
   --color-headline-light: #094067;
   --color-btn-txt-light: #5f6c7b;
   --color-btn-txt-muted-light: #474747;
   --color-btn-light: #3da9fc;
   --color-btn-txt-light: #fffffe;
   --color-border-light: #094067;
}