.sidebar__main.krs {
   .jumbotron {
      .jumbotron-header {
         display: flex;
         align-items: center;

         .select-wrapper {
            position: relative;
            display: inline-block;
            z-index: 1;
            margin: 10px;

            &::after {
               content: "\f077";
               /* kode ikon chevron-up */
               font-family: "fontawesome";
               position: absolute;
               top: 50%;
               right: 0.5rem;
               transform: translateY(-50%) rotate(180deg);
               transition: transform 0.3s ease-in-out;
            }

            .select {
               appearance: none;
               width: 200px;
               height: 40px;
               background-color: var(--bg-color);
               border: 1px solid #ccc;
               padding: 10px;
               font-size: 16px;
               font-weight: bold;
               transition: all 0.3s ease-in-out;
               color: var(--headline-color);
               border-radius: 5px;

               &:focus {
                  outline: none;
                  border-color: #2985FF;
               }

               &:hover {
                  cursor: pointer;
                  background-color: var(--bg-color);
               }

               & option {
                  font-weight: normal;
                  font-size: 14px;
                  color: var(--headline-color);
               }

               & option:checked {
                  background-color: var(--btn-color);
                  color: var(--text-color);
               }
            }
         }

         .btn {
            margin-left: 20px;
            width: 100px;
            height: 30px;
         }
      }

      .jumbotron-main {
         transition: all 0.3s ease-out;

         .card {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            border: 1px solid rgb(88, 88, 88);
            padding: 20px;
            margin-bottom: 20px;
            overflow-x: auto;

            .card-item {
               flex-basis: calc(50% - 20px);
               margin-bottom: 20px;
               transition: all 0.3s ease-out;

               & h3 {
                  margin: 0 0 10px;
                  font-weight: bold;
                  font-size: 16px;
               }

               & input[type="text"] {
                  display: block;
                  width: 100%;
                  padding: 10px;
                  border-radius: 5px;
                  border: 1px solid #ccc;
                  font-size: 16px;
                  color: #555;
                  background-color: #f2f2f2;
                  box-sizing: border-box;
                  transition: border-color 0.3s ease-in-out;
               }

               & input[type="text"]:focus,
               & input[type="text"]:active {
                  outline: none;
                  border-color: #2b94b8;
               }

               & input[disabled] {
                  background-color: var(--bg-muted-color);
                  cursor: not-allowed;
               }

               & input::placeholder {
                  color: var(--text-muted-color);
               }
            }

            p {
               margin: 10px 0;
            }

            .krs-table {
               border: 1px solid var(--border-color);
               min-width: 1100px;

               thead {
                  text-align: center;

                  tr {
                     th {
                        border-bottom: 2px solid var(--border-color);
                        padding: 10px;
                     }
                  }
               }

               tbody {
                  tr {
                     td {
                        padding: 15px;
                        text-align: left;
                        border: 1px solid var(--bg-color);

                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(5),
                        &:nth-child(6),
                        &:nth-child(7),
                        &:nth-child(8) {
                           text-align: center;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}