/* Layar besar (lebar minimum 1200px) */
@media screen and (min-width: 1200px) {
   /* style untuk layar besar di sini */
}

/* Layar sedang (lebar maximum 1199px) */
@media screen and (max-width: 1199px) {

   /* style untuk layar sedang di sini */
   nav {
      .menu {
         h4 {
            display: none;
         }
      }

      .dropdown {
         .user {
            span {
               display: none;
            }
         }

         .dropdown-content {
            right: 0;
            width: 150px;
         }
      }
   }

   .sidebar {
      .sidebar__sidebar {
         transform: translateX(0);
      }

      .sidebar__main {
         margin-left: 300px;
      }

      .sidebar__main.krs {
         .jumbotron {
            .jumbotron-header {
               display: block !important;
               width: 100%;
               margin: 20px 0;

               .btn {
                  margin-top: 20px;
                  height: 40px;
                  width: 50%;
               }
            }
         }
      }

      &.sidebar--show {
         .sidebar__sidebar {
            transform: translateX(-100%);

            &:hover {
               overflow-y: auto;
            }
         }

         .sidebar__main {
            margin-left: 0;
         }
      }
   }
}

/* Layar kecil (lebar maksimum 767px) */
@media screen and (max-width: 767px) {

   /* style untuk layar kecil di sini */
   .sidebar {
      .sidebar__sidebar {
         width: 100vw;

         .sidebar-content {
            .sidebar-nav-top {
               width: 100vw;
            }

            .sidebar-nav-bottom {
               width: 100vw;

               .sidebar-item {
                  a {
                     &.active {
                        margin-left: 0;
                     }
                  }

                  &.accordion-item {
                     &.active {
                        margin-left: 0;
                     }
                  }
               }
            }
         }
      }

      .sidebar__main {
         padding: 5px;
         text-align: center;
         margin: 20px 0;

         .main-header {
            display: block;

            p {
               margin-bottom: 15px;
            }

            .breadcrumb {
               margin-bottom: 15px;

               ol {
                  justify-content: center;
               }
            }
         }

         .jumbotron {
            .card {
               padding: 10px;
            }
         }
      }

      .sidebar__main.krs {
         .jumbotron {
            padding: 10px;

            .jumbotron-header {
               .btn {
                  margin-left: 0px;
               }
            }

            .jumbotron-main {
               .card {
                  display: block;
                  padding: 20px;
                  margin-bottom: 20px;

                  .card-item h3 {
                     text-align: start;
                     margin: 5px;
                     font-weight: 600;
                     font-size: 14px;
                  }

                  p {
                     font-size: 14px;
                     text-align: start;
                  }
               }
            }
         }
      }

      .sidebar__main.presensi-online {
         .card {
            grid-template-columns: 1fr;

            .card-item {
               grid-column: 1 / 1;

               h3 {
                  text-align: left;
               }

               .card-details {
                  display: grid;
                  grid-template-rows: repeat(1, 1fr);
                  grid-template-columns: repeat(1, 1fr);

                  .card-body {
                     flex-direction: column;

                     button {
                        font-size: 16px;

                     }
                  }
               }
            }
         }
      }
   }
}