.presensi-table {
   margin-top: 20px;

   tbody {
      tr {
         td {
            &.progress-bars {
               cursor: default;
               -webkit-user-select: none;
               /* Untuk browser berbasis WebKit seperti Chrome dan Safari */
               -moz-user-select: none;
               /* Untuk browser berbasis Mozilla Firefox */
               -ms-user-select: none;
               /* Untuk browser berbasis Microsoft Edge */
               user-select: none;

               /* Untuk browser modern */
               .progress-bar {
                  width: 100%;
                  height: 15px;
                  border: 1px solid var(--btn-color);
                  border-radius: 10px;
                  overflow: hidden;
                  position: relative;

                  .progress-bar-fill {
                     width: 0%;
                     height: 100%;
                     background-color: var(--btn-color);
                     border-radius: 10px;
                     position: absolute;
                     left: 0;
                     top: 0;
                  }

                  .progress-bar-text {
                     position: absolute;
                     left: 50%;
                     top: 50%;
                     font-size: 15px;
                     transform: translate(-50%, -50%);
                     color: var(--txt-color);
                     font-weight: bold;
                  }
               }
            }
         }
      }
   }
}